 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
  <div class="item">
    <h4 class="degree">PhD in Computer Science</h4>
    <h5 class="meta">JAIST, Japan</h5>
    <div class="time">2016 - present</div>
</div>
<div class="item">
    <h4 class="degree">MSc in Computer Science</h4>
    <h5 class="meta">University of Science, Vietnam</h5>
    <div class="time">2012 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Software Engineer</h4>
    <h5 class="meta">Saigon University, Vietnam</h5>
    <div class="time">2007 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->
